<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="/">Главная</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about_us/">О нас</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/services/">Услуги</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/contacts/">Контакты</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; <br/> {{ site.title }} 2015, All Rights Reserved</p>
            </div>
            <div class="col-md-4">
                Наши сайты:  <a href="http://licensing.ru/">Licensing.ru</a>   <a href="http://licenses.ru/">Licenses.ru</a>   <a href="http://Лицензирование.рф/">Лицензирование.рф</a>   <a href="http://лицензии.рф/">Лицензии.рф</a>.
            </div>
        </div>
    </div>
</footer>
