<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include navigation.html %}


		<!-- Header -->
		<div class="intro-header-bg-services">

			<div class="container">

				<div class="row">
					<div class="col-lg-12">
						<div class="intro-message">
							<h1>{{ page.title }}</h1>
							<h3>{{ page.subTitle }}</h3>
							<hr class="intro-divider">
							<ul class="list-inline intro-social-buttons">
								{% for social in site.social %}
								<li>
									<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>
		<!-- /.intro-header -->










		<div class="content-section-a">

			<div class="container">

				<div class="row">
					<div class="col-lg-5 col-sm-6">
						<hr class="section-heading-spacer">
						<div class="clearfix"></div>
						<h2 class="section-heading">{{ post.title }}</h2>
						{{ content }}
					</div>
					<div class="col-lg-5 col-lg-offset-2 col-sm-6">
						<img class="img-responsive" src="/img/services/notebook.png" alt="">
					</div>
				</div>

			</div>
			<!-- /.container -->

		</div>


		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
